<div class="container">
  <div class="col-md-8">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>First name:</strong>
      <%= @customer.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @customer.last_name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @customer.email %>
    </p>

    <p>
      <strong>Date of birth:</strong>
      <%= @customer.date_of_birth %>
    </p><hr>

    <%= link_to 'Edit', edit_customer_path(@customer), class: "btn btn-warning btn-sm" %> |
    <%= link_to 'Back', customers_path, class: "btn btn-info btn-sm" %>
  </div>
</div>
