<!DOCTYPE html>
<html>
  <head>
    <title>CustomerImportPlatform</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application'  %>
  </head>

  <body>

    <%= yield %>
    
    <%= link_to "Home", root_path %>
    <%= link_to "Customers", customers_path %>
    <%= link_to "About Us", home_about_path %>
    <%= link_to "Info", home_info_path %>
    <%= link_to "Contact Us", home_contact_path %>
  </body>
</html>
